<div class="center hero-unit">
	<h1> Welcome</h1>
</div>
<div>
	<h2>
		<%= link_to "Log in", login_path, class: "btn btn-large btn-primary" %> or <%= link_to "Sign up! ", signup_path, class: "btn btn-large btn-primary" %> if you don't already have an account
	</h2>

	<%= link_to "Sign up now!",signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
